<form>
    <input type="text" class="form-control" [(ngModel)]="term" name="value" placeholder="Search"
        style="margin: 20px; width: 80%;">
</form>
<div>
<table class="table text-center">
    <thead>
        <tr >
            <th scope="col">first Name</th>
            <th scope="col">last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Tel</th>
            <th scope="col">images</th>
            <th scope="col">Action</th>
    
        </tr>
    </thead>
    <tbody id="">
        
        <tr *ngFor="let item of pageOfItems | filterUser : term ">
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.statu}}</td>
            <td>{{item.Tel}}</td>
           
            <td><img [src]="item.avatar" style="width:100px; height: 100px;"></td>
            
            <td>
                <button style="margin-right: 10px;" class=" btn-success" (click)="gotoDisplay(item._id)">Display</button>
                <button style="margin-right: 10px;" class="btn-info" (click)="goToEdit(item._id)">Status</button>
                    <button style="margin-left: 10px;" class=" btn-danger" (click)="DeleteUser(item._id)">Delete</button>
            </td>  
        </tr>
        
    </tbody>
   
</table>
<div  class="card-footer pb-0 pt-3">
    <jw-pagination [items]="T" [pageSize]="5" (changePage)="onChangePage($event)"></jw-pagination>
</div>
</div>


